spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: '03071418'
    testWhileIdle: true
    url: jdbc:mysql://localhost:3306/socketp?serverTimezone=GMT-6
    username: root
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
    show-sql: true
